<div
  *ngIf="errorMessage"
  class="banner-alert alert alert-danger fade show w-100 text-center mt-3"
>
  {{ errorMessage }}
</div>
<div class="wrapper">
  <div class="card">
    <img
      src="/assets/images/SkySuite-Logo.png"
      class="logo"
      alt="Logo"
      height="30"
      class="d-block mx-auto mt-2"
    />
    <h2 class="text-center my-3">Login</h2>
    <form #form action="">
      <div class="form-group mb-4">
        <label for="email">Email address</label>
        <input
          type="email"
          id="email"
          name="username"
          class="form-control"
          placeholder="Enter email"
          [(ngModel)]="user.email"
          required
        />
        <div class="invalid-feedback">Required</div>
      </div>
      <div class="form-group mb-5">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Password"
          [(ngModel)]="user.password"
          required
        />
        <div class="invalid-feedback">Required</div>
      </div>
      <input
        type="submit"
        class="btn btn-primary w-100"
        (click)="authenticate()"
        [disabled]="loginProcess"
        [value]="loginProcess ? 'Logging in...' : 'Login'"
      />
    </form>
  </div>
</div>
