.form-check-input [type='checkbox']{
    width: 40px; 
    height: 25px;
}

.form-check-label .fw-bold label{
    margin-top: 2px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.outer-border {
    border: .5px solid lightgrey; 
    border-collapse: separate;
    border-spacing: 0; 
    width: 100%;
    border-radius: 8px;
    overflow-x:hidden;
}
thead th {
    position: sticky;
    top: 0;
    background-color: #484343;
    color: white;
    z-index: 1;
}
.sortable{
    cursor: pointer;
}
  
  /* Style for the outer border of tables */
  .outer-border {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
  }